*__pycache__*
PickingModel/best_models/*
PickingModel/tensorboard/
*_autosave.fsm
/PickingModel/xml/Workspace.fsx
PickingModel/*.zip
PickingModel/*.sqlite
PickingModel/best_models/*
HelloWorld/tensorboard
HelloWorld/*.zip
